.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-block: 12px;
  /* border-bottom: 2px solid #f2f4f5; */
  /* margin-bottom: 25px; */
}
.button,
.active {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  border: none;
  background-color: #f2f4f5;
  border-radius: 5px;
}

.active {
  color: #6b4eff;
  font-weight: 600;
  scale: 1.15;
}
.active,
.button:disabled {
  cursor: default;
}
